{:deps {:aliases [:dev]}
 :dev-http {7777 ["resources/public"
                  "dev-resources/public"
                  "classpath:public"]}
 :builds
 {:client
  {:target :browser
   :modules {:app {:entries [repliweb.prod]}}
   :dev {:output-dir "dev-resources/public/js/compiled"}
   :release {:output-dir "target/public/js/compiled"}
   :compiler-options {:source-map true}}

  :portfolio
  {:target :browser
   :modules {:portfolio {:entries [repliweb.scenes]}}
   :dev {:output-dir "dev-resources/public/js/compiled"}}}}
