[{:db/ident :page/order
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :page/category
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}

 {:db/ident :page/short-title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :page/blocks
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true}

 {:db/ident :order/idx
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/markdown
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/size
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/a-lang
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/a-example
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/a-title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/a-code
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/b-lang
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/b-title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/b-code
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/b-example
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/code
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/lang
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/code-title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/level
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/alignment
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}]
