@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @media (min-width: 800px) {
        html {
            font-size: 20px;
        }
    }

    @font-face {
        font-family: 'Lato';
        font-style: italic;
        font-weight: 100;
        font-display: swap;
        src: url(/fonts/lato-italic-100.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Lato';
        font-style: italic;
        font-weight: 300;
        font-display: swap;
        src: url(/fonts/lato-italic-400.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Lato';
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/lato-italic-400.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Lato';
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src: url(/fonts/lato-italic-700.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Lato';
        font-style: italic;
        font-weight: 900;
        font-display: swap;
        src: url(/fonts/lato-italic-900.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 100;
        font-display: swap;
        src: url(/fonts/lato-normal-100.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(/fonts/lato-normal-300.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/lato-normal-400.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(/fonts/lato-normal-700.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(/fonts/lato-normal-900.ttf) format('truetype');
    }

}

@layer components {
    .media {
        @apply rounded-2xl p-2 text-sm xl:text-base flex flex-row items-center gap-3;
    }

    .media-thumb {
        @apply basis-1/4;
    }

    .media-list {
        @apply flex flex-col gap-2;
    }

    .overlay {
        @apply absolute inset-0 flex items-center justify-center;
    }

    .input-field {
        @apply input input-bordered flex items-center gap-2;
    }

    .menu-item {
        @apply text-xs px-4 py-2 block rounded-r-lg flex items-center justify-between;
    }

    .menu-item:hover,
    .menu-item-selected {
        @apply text-whitish bg-base-300
    }

    .menu-item svg {
        visibility: hidden;
    }

    .menu-item:hover svg,
    .menu-item-selected svg {
        visibility: visible;
    }

    .prose a {
        @apply text-primary underline hover:no-underline;
    }

    .prose :is(h1, h2, h3, h4, h5, h6, p, ul, ol, dl),
    .h1, .h2, .h3, .h4, .h5, .h6, .p, .ul, .ol, .dl {
        margin-top: 1.5em;
        margin-bottom: 1em;
        @apply text-whitish;
    }

    .prose :is(h1, h2, h3, h4, h5, h6) a,
    :is(.h1, .h2, .h3, .h4, .h5, .h6) a {
        @apply no-underline hover:underline text-whitish;
    }

    .prose > :first-child,
    :is(.h1, .h2, .h3, .h4, .h5, .h6):first-child {
        margin-top: 0;
    }

    .prose + .prose > :first-child,
    .prose + .prose :is(.h1, .h2, .h3, .h4, .h5, .h6):first-child {
        margin-top: 1.5em;
    }

    .prose h1, .h1 {
        @apply text-3xl lg:text-5xl;
    }

    .prose h2, .h2 {
        @apply text-2xl lg:text-3xl;
    }

    .prose h3, .h3 {
        @apply text-xl lg:text-2xl;
    }

    .prose ul li {
        list-style: disc;
        margin-left: 1.25em;
    }

    .prose ol li {
        list-style: number;
        margin-left: 1.25em;
    }

    .prose li :is(ul, ol) {
        margin-top: 0.5em;
    }

    .prose table {
        @apply text-whitish;
    }

    .prose th {
        font-weight: normal;
        text-align: left;
    }

    .prose td {
        @apply border-t py-2;
    }

    .code-title {
        display: block;
        font-size: 0.875rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
        margin-bottom: -0.25rem;
    }

    .codehilite {
        @apply bg-base-200 text-sm rounded-md flex-1 items-center;
    }

    .codehilite code,
    pre.codehilite code,
    .codelike {
        display: block;
        padding: 1rem;
        overflow: scroll;
    }

    .section-sm {
        @apply max-w-screen-sm;
    }

    .section-md {
        @apply max-w-screen-md;
    }

    .section-lg {
        @apply max-w-screen-lg;
    }

    .fullscreen :is(.section-sm, .section-md, .section-lg) {
        @apply mx-auto;
    }

    .fullscreen .section-lg {
        @apply sm:mx-auto md:mx-4 lg:mx-auto;
    }
}
